@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.App {
  text-align: center;
}

h1 {
  font-family: 'Varela Round', sans-serif;
}

h3 {
  font-family: 'Varela Round', sans-serif;
}